#lightbox
{
	background-color:#eee;
	padding: 10px; 
	border-bottom: 2px solid #666; 
	border-right: 2px solid #666;
}

#modal
{
	background-color:#000076; /* blue original*/
	ackground-color:#000000;
	-moz-opacity:0.50; 
	opacity:0.50; 
	display:none; 
	position:absolute; 
	top:0; 
	left:0;
	z-index:110;
	width:100%;
	filter:alpha(opacity=50);
}
	
#modalBox, #modalBox2
{
	display:none;
	position: absolute;
	z-index:120; 
	left:0px; 
	width:50%
}
