@page {size: 210mm 297mm; margin: 30mm;}

@media print {
	#menu { display:none; }
	
	#stampa { display:none; }
}

body {
background-color:#e5e5e5;
ackground-color:#F9F7F7;
ackground-color:white;
}

#container{
	position:relative;
	top:1px;
	width: 95%;
	margin: 0 auto;
	text-align: left;
	order: 1px solid #36c;
}

#menu {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 100%;
border-bottom: 1px dotted;
border-bottom-color:#CC0000;
padding: 0px;
padding-bottom: 4px;
adding-bottom: 6px;
}

ul {
list-style: none;
margin: 0px;
padding: 0px;
border: none;
}

li {
display:inline;
list-style:none;
padding: 0px;
width:30px;
}

li a {
font-size: 80%;
padding: 5px 0px 2px 4px;
text-decoration: none;
color: #666666;
width:160px;
order: 1px solid white;
}

li a#current {
font-size: 80%;
padding: 5px 0px 2px 4px;
color: #666666;
text-decoration:underline;
font-weight:bold;
width:160px;
order: 1px solid white;
}

li a#current1 {
font-size: 80%;
padding: 5px 0px 2px 4px;
color: #666666;
text-decoration:overline;
font-weight:bold;
width:160px;
order: 1px solid white;
}

ul li a:hover {
color: #CC0000;
ackground-color: #eeeeee;
order: 1px solid #CC0000;
text-decoration:underline;
}

#content{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	order-bottom: 1px dotted;
	border-bottom-color:#CC0000;
	padding: 15px;
	min-height: 250px;
	height: auto !important;
	height: 250px;
}

div#fondo{margin: 0; text-align:center; padding: 0;
	background-color: #CCC; color: #FFF}

/* Stili per font */
.bilancio {
	font: 24px Verdana, sans-serif;
	text-align:center;
	font-weight: bold;
	color: #CC0000;
}

.errore {font: 12px Verdana, sans-serif; color: #FF0000;
		text-align: justify; background-color: #F6E6E6}

.copy {font: 10px Verdana; font-weight: bold; color: #CC0000}
		
/* Stili tabelle */
.tcontent {
	border: 1px dotted #CCC;
	font: 12px Arial, sans-serif; 
	color: #000066;
	width: 80%;
	text-align:left;
}

.tcontentmaxi {
	border: 1px dotted #CCC;
	font: 12px Arial, sans-serif; 
	color: #000066;
	width: 100%;
	text-align:left;
}

.tcontentmini {
	border: 1px dotted #CCC;
	font: 12px Arial, sans-serif; 
	color: #000066;
	width: 20%;
	text-align:left;
}

.tcontentbilancio {
	border: 1px dotted #CCC;
	font: 12px Arial, sans-serif; 
	color: #000066;
	background-color:#FFFFFF;
	width: 100%;
	text-align:left;
}

.tcontentbilanciostampa {
	border: 1px dotted #CCC;
	font: 12px Arial, sans-serif; 
	color: #000000;
	background-color:#FFFFFF;
	width: 100%;
	text-align:left;
}

.terrore {border: 1px dotted #CCC; font: 12px Arial, sans-serif; 
		color: #000066; font-weight: bold; background-color: #FFF;
		width: 60%; text-align: left;}

.terroremaxi {border: 1px dotted #CCC; font: 12px Arial, sans-serif; 
		color: #000066; font-weight: bold; background-color: #FFF;
		width: 100%; text-align: left;}
		
.intestazione {font: 12px Verdana, sans-serif; color: #FFFFFF; 
		font-weight: bold; background-color: #CC0000; width: 14%;}

.intestazioneblack {font: 14px Verdana, sans-serif; color: #000000; 
		font-weight: bold; text-decoration:underline; text-align:center;
		 background-color: #CCCCCC; width: 14%;}

TR#row0{ background-color:#FFFFFF }
TR#row1{ background-color:#F7FAFB }
TR#rowfalse{ background-color:#FFFFFF }
TR#rowtrue{ background-color:#CCCCCC}
TR#rowgruppo{ background-color:#E1E2E8 }

#formbianca{ background-color:#FFFFFF; width:60px; }
#formrossa{ width:60px; background-color:#F3B1B4 ; }
